<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
    </div>
    <br>


  <div id="main_content">
    <div class="container">
      <div class="row">
        <% if current_page?(root_path) %>
          <div class="col-sm-3">
            All posts
          </div>
        <% else %>
          <div class="col-sm-3">
            <%= link_to "Back to All Posts", root_path %>
          </div>
        <% end %>
        <div class="com-sm-3">
          <%= link_to "New Post", new_post_path %>
        </div>
      </div>

      <%= yield %>

    </div>
  </div>




</body>
</html>
